* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: rgb(225, 105, 6);
    justify-content: space-around;
    align-items: center;
    padding: .2rem;
}

header h1 {
    background-color: lightslategrey;
    text-align: center;
    padding: .5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 1rem;
}

nav ul li a {
    text-transform: uppercase;
    color: black;
    padding: 1rem;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    background-color: black;
    border-radius: 2rem;
}
.mine{
    background-color: lightsteelblue;
}
section {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2.5rem;
}

section article img {
    width: 30%;
    border-radius: 50%;
    border: 3px solid black;
}

section article h2 {
    font-size: 2rem;
    padding: 1rem;
    line-height: 2.5rem;
}

.icons {
    text-align: left;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.fa-instagram,
.fa-linkedin,
.fa-whatsapp,
.fa-envelope,
.fa-github {
    border: 2px solid black;
    border-radius: 50%;
    padding: 1rem;
}

.fa-instagram {
    cursor: pointer;
    color: white;
    border: 2px solid white;
    background: linear-gradient(blue, orangered, purple);
}

.fa-linkedin {
    cursor: pointer;
    color: white;
    background-color: blue;
    border: 2px solid white;
}

.fa-whatsapp {
    cursor: pointer;
    color: white;
    background-color: green;
    border: 2px solid white;
}

.fa-envelope {
    cursor: pointer;
    color: white;
    background-color: red;
    border: 2px solid white;
}

.fa-github {
    cursor: pointer;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.skills {
    background-color: whitesmoke;
    gap: 2rem;
}

.skills h2 {
    font-size: 2.5rem;
}

.skills h3 {
    font-size: 1.5rem;
}

section div img {
    width: 20rem;
    height: 18rem;
    margin-left: 30%;
    mix-blend-mode: multiply;
}

.projects {
    gap: 3rem;
    background-color: lightslategray;
}

.projects h2 {
    font-size: 2rem;
}

.projects article {
    display: grid;
}

.projects article {
    height: 40rem;
    width: 30rem;
    background-color: lightgrey;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
}

.projects article img {
    width: 20rem;
    border-radius: 10px;
}

article h3 {
    text-transform: uppercase;
}

article p {
    font-size: 1.1rem;
}

input {
    background-color: black;
    padding: 1rem;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}
.resume{
    background-color: gray;
}
.resume {
    background-color: teal;
    height: 30vh;
    display: flex;
    gap: 3rem;
    text-align: center;
}
.resume article{
    display: grid;
}
.resume h5{
    font-size: 1.4rem;
}
.resume h6{
    font-size: 1.2rem;
}

footer h6{
    font-size: 1.2rem;
    color: white;
    background-color: black;
    padding: 1rem;
    text-align: center;
}